@font-face{
  font-family: "Lavishly Yours";
  src: url("font/LavishlyYours-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}


* { box-sizing: border-box; }


html,body{
    height: 100%;
    margin : 0;
}


body{
    min-height: 100vh;
    background-image:url("./bookdnaBack.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position-y:bottom;
    display: flex;
    justify-content: center;
}


.Back{
  width: min(1400px, 96vw);
  margin: 0 auto;
  text-align: center;
  gap: 18px; 
  padding-top: clamp(20px, 4vh, 70px);
}

#titel {
    font-family: 'uni-monospace';
    color: #a0785a  ;
    font-size: 60px;
    font-weight: 600;
    margin-top: 12px;
}


#titel2{
    color: #907467
}


#first-Button{
    
    color: white; 
    width: 210px; 
    height: 40px; 
    font-size: 20px; 
    background-color :#b9a68d ; 
    border-radius: 5px; 
    border: 0; 
    margin-right: 25px;
   

}


#second-Button{
    
    color: white; 
    width: 210px; 
    height: 40px; 
    font-size: 20px; 
    background-color :#756d63 ; 
    border-radius: 5px; 
    border: 0;
  
}


#dna-icon{
  
    width: clamp(80px, 6vw, 120px) !important; 
    height: auto !important; 
    margin: 24px auto;
     
}
  



#firstque {
  display: none;
}


.step1{
   margin-top: 80px; 
    width: min(650px,92vw); 
    height: min(400px,92vw); 
    background-color: rgba(70, 46, 19, 0.555); 
    backdrop-filter: blur 15px; 
    border-radius: 20px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.61); 
    text-align: center; 
    align-items: center; 
     position: relative;
    flex-direction: column; 
}


#question1{
    text-align: center;
    padding-top: 20px;
    color: rgb(193, 194, 182);
    font-weight: 100;

}



.step1 label{
  color: rgb(235, 232, 227);
  font-size: 20px;
  font-weight: 300;
  text-align: left;
  display: inline-block;
  
  width: 220px; 
}

#q11{

}



#button1{
    margin-top: 6px;
    margin-right: 20px;
  padding: 6px 14px;
  border-radius: 6px;
  border: 0;
  cursor: pointer;
  background-color: #79645a;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.61); 

}
#dosto{
    width: 250px;
    height: 250px;
    position: absolute;
    left: 40px;
    bottom:0px ;

    filter: drop-shadow(0 25px 30px rgba(0,0,0,0.6));
    pointer-events: none;
    transform: translateZ(30px);
    z-index: 3; 

    
}
