* { box-sizing: border-box; }
html,body{
    height: 100%;
    margin : 0;
}

body{
    min-height: 100vh;
    
    background-image:url("./bookdnaBack.png");
    background-size:cover;
    background-repeat: no-repeat;
    
    background-position: center;
   
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 70px;

}

#titel {
    font-family: 'rush Script';
    text-align: center;
    color: #002147 ;
    font-size: xx-large;
    font-weight: 700;
    margin-top: 12px;
}