* { box-sizing: border-box; }
html,body{
    height: 100%;
    margin : 0;
}

.Back{
    min-height: 100vh;
    width: min(2000px, 100%); 
    background-image:url("./bookdnaBack.png");
    background-size:cover;
    background-repeat: no-repeat;
    aspect-ratio: 16/9;
    padding: 48px 32px;
    background-position: 50% 75%;
    margin: 0 auto;
    

}

#titel {
    font-family: 'rush Script';
    text-align: center;
    color: #002147 ;
    font-size: xx-large;
    font-weight: 700;
    margin-top: 12px;
}