* { box-sizing: border-box; }
html,body{
    height: 100%;
    margin : 0;
}

.Back{
    min-height: 100vh;
    width: min(1100px, 100%); 
    background-image:url("./bookdnaBack.png");
    background-size:contain;
    background-repeat: no-repeat;
    aspect-ratio: 3/2;
    padding: 48px 32px;
    background-position: center;
    margin: 24px auto;
    

}

#titel {
    font-family: 'rush Script';
    text-align: center;
    color: #002147 ;
    font-size: xx-large;
    font-weight: 700;
    margin-top: 12px;
}