@font-face{
  font-family: "Lavishly Yours";
  src: url("font/LavishlyYours-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}


* { box-sizing: border-box; }
html,body{
    height: 100%;
    margin : 0;
}

body{
    min-height: 100vh;
    
    background-image:url("./bookdnaBack.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position-y:bottom;
    
   
    display: flex;
    
    justify-content: center;
    

}
.Back{
  width: min(1400px, 96vw);
  margin: 0 auto;
  text-align: center;
  gap: 18px; 
  padding-top: clamp(40px, 8vh, 120px);
}

#titel {
    font-family: 'uni-monospace';
    
    color: #a0785a  ;
    font-size: 60px;
    font-weight: 600;
    margin-top: 12px;
    
}
#titel2{
    color: #907467
}


#first-Button{
    
    color: white;
    width: 210px;
    height: 40px;
    font-size: 20px;
    background-color :#b9a68d  ;
    border-radius: 5px;
    border: 0;
    margin-right: 25px;

}
#second-Button{
    
    color: white;
    width: 210px;
    height: 40px;
    font-size: 20px;
    background-color :#756d63  ;
    border-radius: 5px;
    border: 0;


}

#dna-icon{
  width: clamp(150px, 12vw, 260px);
  height: auto !important;
  bottom: 300px;
  
}


#firstque {
  display: none;
}

.step1{
    margin-top: 10px;
    width: min(650px,92vw);
    height: min(400px,92vw);
    background-color: rgba(44, 29, 9, 0.616);
    backdrop-filter: blur 8px;
    border-radius: 5px;
    

}