html,body{
    height: 100%;
    margin : 0;
}

.Back{
    width: min(900px, 100%); 
    background-image:url("./bookdnaBack.png");
    background-size:100% ;
    background-repeat: no-repeat;
    aspect-ratio: 16/9;
    background-position: 50% 50%;
    

}

#titel {
    font-family: 'rush Script';
    text-align: center;
    color: #002147 ;
    font-size: xx-large;
    font-weight: 700;
    margin-top: 12px;
}