body{
    background-image:url("./bookdnaBack.png");

}

#titel {
    font-family: 'rush Script';
    text-align: center;
    color: #002147 ;
    font-size: xx-large;
    font-weight: 700;
    margin-top: 12px;
}