@font-face{
  font-family: "Lavishly Yours";
  src: url("font/LavishlyYours-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}


* { box-sizing: border-box; }
html,body{
    height: 100%;
    margin : 0;
}

body{
    min-height: 100vh;
    
    background-image:url("./bookdnaBack.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position-y:bottom;
    
   
    display: flex;
    
    justify-content: center;
    

}
.Back{
    text-align: center;
    


}

#titel {
    font-family: 'uni-monospace';
    
    color: #a0785a  ;
    font-size: 60px;
    font-weight: 600;
    margin-top: 12px;
    
}
#dna-icon{
   width: clamp(80px, 4.5vw, 120px);
  height:20px;
  
  margin: clamp(18px, 3vh, 34px) auto;
  
}

#first-Button{
    color: white;
    font-size: 20px;
    background-color :#b9a68d  ;
    border-radius: 10px;

}