* { box-sizing: border-box; }
html,body{
    height: 100%;
    margin : 0;
}

body{
    min-height: 100vh;
    
    background-image:url("./bookdnaBack.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position-y:bottom;
    
   
    display: flex;
    
    padding-top: 120px;

}

#titel {
    font-family: 'Brush Script';
    text-align: center;
    color: #a0785a  ;
    font-size: 50px;
    font-weight: 700;
    margin-top: 12px;
}