body{
    margin:0;
    font-family:Arial;

    background-image:url("./bookdnaBack.png");
    background-size:cover;
    color:#33251f;
    background-repeat: no-repeat;
}

/* NAVBAR */

.navbar{
    background-color:#614c32;
    padding:20px;

    display:flex;
    justify-content:space-between;
    align-items:center;
    
}

.logo{
    color:#f5b6a1;
    font-size:22px;
    font-weight:bold;

    display:flex;
    align-items:center;
}

.dna-circle{
    width:35px;
    height:45px;

    margin-right:5px;

    background-image:url("./icon.png");
    background-size:cover;
}

.navbar a{
    color:white;
    text-decoration:none;
    margin-left:15px;
}

/* HERO */

.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:80px;
}

.hero-text h1{
    font-size:70px;
    color:#88571a;
}

.hero-text span{
    color:#c07854;
}

.description{
    width:400px;
    color:#5c4b42;
}

.btn-primary{
    background-color:#694f44;
    color:white;

    padding:12px 20px;

    text-decoration:none;

    border-radius:8px;
}

.btn-secondary{
    background-color:#b9a68d;
    color:white;

    padding:12px 20px;

    text-decoration:none;

    border-radius:8px;
}

/* KAFKA CARD */

.quote-card{
    width:350px;
    height:430px;

    padding:30px;

    border-radius:20px;

    background-color:#907467;

    background-image:url("./kafka.jpg");
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
}

.quote{
    color:white;
    font-size:22px;
}

.author{
    color:#f5d8c8;
    margin-top:40px;
}

/* RECOMMENDATIONS */

.recommendations{
    padding:80px;

}
.recommendations h2{
    color:#88571a;
    font-size: 40px;
}

.section-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:40px;
}

.view-all{
    color:#88571a;
    text-decoration:none;
}

.book-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);

    gap:20px;
}

.book-card{
    background-color:#fffaf4;

    border-radius:15px;

    border:1px solid #d8c6b8;

    cursor:pointer;
}

.book-cover{
    height:250px;

    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
}

.cover-one{
    background-image:url("./thefall.jpeg");
}

.cover-two{
    background-image:url("./The Metamorphosis.jpeg");
}

.cover-three{
    background-image:url("./withenights.jpeg");
}

.cover-four{
    background-image:url("./TheCountofMonteCristo.jpeg");
}

.book-info{
    padding:15px;
}

.tags span{
    background-color:#f1e6dc;

    padding:5px 10px;

    border-radius:10px;

    font-size:12px;
}

/* --------------------------
   Search
-----------------------------*/

.search-popup{
    display:none;

    position:absolute;

    top:90px;
    left:50%;

    transform:translateX(-50%);

    width:420px;

    background:rgba(255,255,255,0.92);

    backdrop-filter:blur(12px);

    padding:18px;

    border-radius:20px;

    z-index:1000;

    box-shadow:
    0 10px 30px rgba(0,0,0,0.15);

    border:1px solid rgba(255,255,255,0.3);
}

.search-box{
    display:flex;
    align-items:center;
    gap:12px;
}

.search-box input{
    flex:1;

    padding:14px 16px;

    border:none;

    border-radius:14px;

    background:#f5f1ec;

    font-size:15px;

    outline:none;
}

.search-box button{
    padding:14px 18px;

    border:none;

    border-radius:14px;

    background:#6d4c41;

    color:white;

    font-weight:bold;

    cursor:pointer;

    transition:0.2s;
}

.search-box button:hover{
    transform:scale(1.05);

    background:#5d4037;
}

/* --------------------------
   RESULTS PAGE
-----------------------------*/

.search-page{
    padding:80px;
}

.search-page h1{
    color:#88571a;

    font-size:45px;

    margin-bottom:35px;
}

.modern-search{
    display:flex;

    gap:14px;

    margin-bottom:50px;
}

.modern-search input{
    width:400px;

    padding:15px;

    border:none;

    border-radius:14px;

    background:#f5f1ec;

    font-size:16px;

    outline:none;
}

.modern-search button{
    padding:15px 24px;

    border:none;

    border-radius:14px;

    background:#6d4c41;

    color:white;

    font-weight:bold;

    cursor:pointer;
}


