body{
    margin:0;
    font-family:Arial;

    background-image:url("./fotos/bookdnaBack.png");
    background-size:cover;
    color:#33251f;
    background-repeat: no-repeat;
}

/* NAVBAR */

.navbar{
    background-color:#614c32;
    padding:20px;

    display:flex;
    justify-content:space-between;
    align-items:center;
    
}

.logo{
    color:#f5b6a1;
    font-size:22px;
    font-weight:bold;

    display:flex;
    align-items:center;
}

.dna-circle{
    width:35px;
    height:45px;

    margin-right:5px;

    background-image:url("./fotos/icon.png");
    background-size:cover;
}

.navbar a{
    color:white;
    text-decoration:none;
    margin-left:15px;
}

/* HERO */

.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:80px;
}

.hero-text h1{
    font-size:70px;
    color:#88571a;
}

.hero-text span{
    color:#c07854;
}

.description{
    width:400px;
    color:#5c4b42;
}

.btn-primary{
    background-color:#694f44;
    color:white;

    padding:12px 20px;

    text-decoration:none;

    border-radius:8px;
}

.btn-secondary{
    background-color:#b9a68d;
    color:white;

    padding:12px 20px;

    text-decoration:none;

    border-radius:8px;
}

/* KAFKA CARD */

.quote-card{
    width:350px;
    height:430px;

    padding:30px;

    border-radius:20px;

    background-color:#907467;

    background-image:url("./fotos/kafka.jpg");
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
}

.quote{
    color:white;
    font-size:22px;
}

.author{
    color:#f5d8c8;
    margin-top:40px;
}

/* GENRES */

.genres{
    padding:80px;
}

.genres h2{
    color:#88571a;
    font-size:40px;
}

.genre-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:25px;
}

.genre-card{
    background-color:#fffaf4;
    border:1px solid #d8c6b8;
    border-radius:20px;
    padding:35px;
    cursor:pointer;
    transition:0.3s;
}



.genre-card h3{
    color:#88571a;
    font-size:30px;
    margin-bottom:15px;
}

.genre-card p{
    color:#5c4b42;
    line-height:1.5;
}
/* --------------------------
   Search
-----------------------------*/

.search-popup{
    display:none;

    position:absolute;

    top:90px;
    left:50%;

    transform:translateX(-50%);

    width:420px;

    background:rgba(255,255,255,0.92);

    backdrop-filter:blur(12px);

    padding:18px;

    border-radius:20px;

    z-index:1000;

    box-shadow:
    0 10px 30px rgba(0,0,0,0.15);

    border:1px solid rgba(255,255,255,0.3);
}

.search-box{
    display:flex;
    align-items:center;
    gap:12px;
}

.search-box input{
    flex:1;

    padding:14px 16px;

    border:none;

    border-radius:14px;

    background:#f5f1ec;

    font-size:15px;

    outline:none;
}

.search-box button{
    padding:14px 18px;

    border:none;

    border-radius:14px;

    background:#6d4c41;

    color:white;

    font-weight:bold;

    cursor:pointer;

    transition:0.2s;
}

.search-box button:hover{
    transform:scale(1.05);

    background:#5d4037;
}

/* --------------------------
   RESULTS PAGE
-----------------------------*/

#searchResults {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    padding-left: 40px;
    padding-top: 40px;
}
#resultsTitle{               
    padding-left: 40px;
    padding-top: 40px;
}

.book-card {
    width: 220px;
}

.book-card img {
    width: 140px;
    height: 210px;
    object-fit: cover;
    border-radius: 10px;
}

.book-info h3 {
    font-size: 18px;
}

.book-info p {
    font-size: 15px;
}

